<app-modal 
    formId="patient-form" 
    width="38rem"
    [title]="patient() ? 'Редагувати пацієнта' : 'Додати нового пацієнта'" 
    [submitText]="patient() ? 'Зберегти' : 'Додати'"
    [errorText]="errorMessage" 
    (cancel)="onCancel()">
    <form id="patient-form" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-block">
                <label for="first-name">Ім'я</label>
                <input formControlName="firstName" type="text" id="first-name" placeholder="Вкажіть ім'я" />
            
                @if (patientForm.get('firstName')?.touched && patientForm.get('firstName')?.hasError('required'))
                {
                    <span class="form-error">Ім'я обов'язкове</span>
                }
            </div>
            <div class="form-block">
                <label for="last-name">Прізвище</label>
                <input formControlName="lastName" type="text" id="last-name" placeholder="Вкажіть прізвище" />
                
                @if (patientForm.get('lastName')?.touched && patientForm.get('lastName')?.hasError('required'))
                {
                    <span class="form-error">Прізвище обов'язкове</span>
                }
            </div>
        </div>
        <div class="form-block">
            <label for="middle-name">По батькові</label>
            <input formControlName="middleName" type="text" id="middle-name" placeholder="Вкажіть по батькові" />
        </div>
        <div class="form-date-gender-row">
            <div class="form-block">
                <label for="birth-date">Дата народження</label>
                <input formControlName="birthDate" type="date" [max]="today" id="birth-date" />
            
                @if (patientForm.get('birthDate')?.touched && patientForm.get('birthDate')?.hasError('required'))
                {
                    <span class="form-error">Дата народження обов'язкова</span>
                }
            </div>
            <div class="form-block">
                <label for="gender">Стать</label>
                <select formControlName="gender" id="gender">
                    <option value="" disabled selected>Оберіть стать</option>
                    <option value="M">Чоловіча</option>
                    <option value="F">Жіноча</option>
                </select>
                
                @if (patientForm.get('gender')?.touched && patientForm.get('gender')?.hasError('required'))
                {
                    <span class="form-error">Стать обов'язкова</span>
                }
            </div>
        </div>
        <div class="form-row">
            <div class="form-block">
                <label for="phone">Номер телефону</label>
                <input formControlName="phone" type="tel" id="phone" placeholder="Вкажіть номер" />
                
                @if (patientForm.get('phone')?.touched && patientForm.get('phone')?.hasError('required'))
                {
                    
                    <span class="form-error">Номер обов'язковий</span>
                }
                @else if (patientForm.get('phone')?.touched && patientForm.get('phone')?.hasError('pattern'))
                {
                    <span class="form-error">Неправильний формат номера телефону</span>
                }
            </div>
            <div class="form-block">
                <label for="email">Email</label>
                <input formControlName="email" type="email" id="email" placeholder="example@mail.com" />
                
                @if (patientForm.get('email')?.touched && patientForm.get('email')?.hasError('email'))
                {
                    <span class="form-error">Неправильний формат email</span>
                }
            </div>
        </div>
    </form>
</app-modal>