<app-modal 
    formId="order-form" 
    [title]="'Реєстрація замовлення'" 
    submitText="Додати" 
    [errorText]="errorText"
    (cancel)="onCancel()">
    <form id="order-form" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="form-block">
            <label for="patient">Пацієнт</label>
            <div class="patient-search-wrapper">
                <input 
                    formControlName="patientName"    
                    type="text" 
                    id="patient"
                    autocomplete="off"
                    placeholder="Почніть вводити прізвище або номер..."
                    [value]="patientSearchTerm"
                    (input)="onPatientSearchChange($event)" />
                
                @if (patients.length > 0) 
                {
                    <ul class="patient-dropdown">
                        @for (p of patients; track p.id) 
                        {
                            <li class="patient-option" (click)="selectPatient(p)">
                                <div class="maintext">{{ p.lastName }} {{ p.firstName }} {{ p.middleName ?? '' }}</div>
                                <div class="subtext">Номер: {{ p.phone }}</div>
                            </li>
                        }
                    </ul>
                }

                @if (orderForm.get('patientId')?.touched && orderForm.get('patientId')?.hasError('required'))
                {
                    <span class="form-error">Потрібно обрати пацієнта</span>
                }
            </div>
        </div>
        <div class="form-block">
            <label for="analyses">Аналізи</label>
            <div class="patient-search-wrapper">
                <input
                    formControlName="analysisSearch"    
                    type="text"
                    id="analyses"
                    autocomplete="off"
                    placeholder="Почніть вводити назву аналізу..."
                    [value]="analysisSearchTerm"
                    (input)="onAnalysisSearchChange($event)" />

                @if (analyses.length > 0)
                {
                    <ul class="patient-dropdown">
                        @for (a of analyses; track a.id)
                        {
                            <li class="patient-option" (click)="selectAnalysis(a)">
                                <div class="maintext">{{ a.name }}</div>
                                <div class="subtext">{{ a.price }} грн</div>
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="selected-analyses">
                @for (a of selectedAnalyses; track a.id)
                {
                    <div class="selected-tag">
                        <span>{{ a.name }}</span>
                        <button type="button" (click)="removeAnalysis(a.id)">&#10006;</button>
                    </div>
                }
            </div>

            @if (orderForm.get('analysisSearch')?.touched && selectedAnalyses.length === 0)
            {
                <span class="form-error">Потрібно обрати хоча б 1 аналіз</span>
            }
        </div>
    </form>
</app-modal>
