<div class="pagination">
    <button [disabled]="selectedPage() === 1" (click)="onChangePageClick(selectedPage() - 1)">&#8249;</button>
    
    @for (p of visablePages(); track $index)
    {
        @if ($index > 0 && visablePages()[$index - 1] !== p - 1)
        {
            <button disabled>...</button>
        }
        <button [class.current-page]="selectedPage() === p" (click)="onChangePageClick(p)">{{ p }}</button>
    }

    <button [disabled]="selectedPage() === pageCount()" (click)="onChangePageClick(selectedPage() + 1)">&#8250;</button>
</div>
