<div class="toolbar">
    <div class="search-wrapper">
        <input type="text" />
        <img src="icons/search.svg" class="search-icon" />
    </div>
    <button class="btn-add">+ Новий пацієнт</button>
</div>
<div class="patients-panel">

<div class="patients-list">
    <span class="col-header">Пацієнт</span>
    <span class="col-header">Дата народження</span>
    <span class="col-header">Контакти</span>
    <span class="col-header"></span>

    @for (patient of patients; track $index) 
    { 
        <div class="list-row">
            @if (patient.middleName != null)
            {
                <div class="patient-name">
                    <span class="text">{{ patient.lastName }} {{ patient.firstName }}</span>
                    <span class="subtext">{{ patient.middleName }}</span>
                </div>
            }
            @else 
            {
                <span class="single">{{ patient.lastName }} {{ patient.firstName }}</span>
            }

            <span class="single">{{ patient.birthDate | date:'dd.MM.yyyy' }}</span>

            @if (patient.phone != null && patient.email != null)
            {  
                <div class="patient-contacts">
                    <span class="text">{{ patient.phone }}</span>
                    <span class="subtext">{{ patient.email }}</span>
                </div>
            }
            @else
            {
                <span class="single">{{ patient.email ?? patient.phone }}</span>
            }  
            
            <div class="row-action">
                <button class="btn-order">+ Замовлення</button>
            </div>
        </div>
    }
</div>
</div>