<app-navbar />

<main class="content">
    <div class="top-bar">
        <h2>Інформаційна панель</h2>
        <span class="date">{{ today }}</span>
    </div>
    @if (userRole() == UserRole.Employee)
    {
        <div class="cards">
            <div class="card">
                <div class="card-text">
                    <span class="card-label">Заплановані відвідувачі</span>
                    <span class="card-sub">на сьогодні</span>
                </div>
                <span class="card-value">{{ employeeStats?.plannedVisitors }}</span>
            </div>
            <div class="card">
                <div class="card-text">
                    <span class="card-label">Очікують здачі зразка</span>
                    <span class="card-sub">пацієнти</span>
                </div>
                <span class="card-value">{{ employeeStats?.pendingSamples }}</span>
            </div>
            <div class="card">
                <div class="card-text">
                    <span class="card-label">Зразків в лабораторії</span>
                    <span class="card-sub">в обробці</span>
                </div>
                <span class="card-value">{{ employeeStats?.processingSamples }}</span>
            </div>
            <div class="card">
                <div class="card-text">
                    <span class="card-label">Готових результатів</span>
                    <span class="card-sub">на сьогодні</span>
                </div>
                <span class="card-value">{{ employeeStats?.completedResults }}</span>
            </div>
        </div>
        <div class="schedule-samples">
            <div class="panel">
                <p class="panel-title">Мій графік</p>
                @for (shift of employeeShifts; track $index)
                {
                    <div class="panel-item">
                        <span class="panel-item-day">{{ getDayOfWeekLabel(shift.dayOfWeek) }}</span>
                        @if (shift.city && shift.officeNumber)
                        {
                            <span class="panel-item-office">{{ shift.city }}, Відділення №{{ shift.officeNumber }}</span>
                        }
                        @else if (shift.leaveReason) 
                        {
                            <span class="panel-item-reason">{{ shift.leaveReason }}</span>
                        }

                        @if (shift.startTime && shift.endTime)
                        {
                            <span class="panel-item-time">{{ shift?.startTime | slice:0:5 }}-{{ shift?.endTime | slice:0:5 }}</span>
                        }
                    </div>
                }
            </div>
            <div class="panel">
                <p class="panel-title">Зразки, що скоро прострочаться</p>
                @for (sample of employeeSamples; track $index)
                {
                    <a class="panel-item clickable-row" 
                        [routerLink]="['/samples']" 
                        [state]="{ orderNumber: sample.orderNumber }">
                
                        <span class="panel-item-dot" [ngClass]="getSampleStatus(sample.expiresAt)"></span>
                        <span class="panel-item-sample">{{ sample.type }}</span>
                        <span class="panel-item-datetime">{{ sample.expiresAt | expiryDatePipe}}</span>
                        <span class="panel-item-arrow">→</span>
                    </a>
                }
            </div>
        </div>
    }
</main>