<button 
    class="btn-navbar-open" 
    [class.hide]="isOpen"
    aria-label="Відкрити меню" 
    (click)="openMenu()"><img src="/icons/menu.svg" alt="Меню"></button>

<nav [class.open]="isOpen">
    <button class="btn-navbar-close" (click)="closeMenu()">&#8592;</button>
    <ul class="nav-links">
        @if (userRole() === UserRole.Admin || userRole() === UserRole.Employee)
        {
            <li><a routerLink="/dashboard" routerLinkActive="active" (click)="closeMenu()">Інформаційна панель</a></li>
            <li><a routerLink="/patients"  routerLinkActive="active" (click)="closeMenu()">Пацієнти</a></li>
            <li><a routerLink="/orders"    routerLinkActive="active" (click)="closeMenu()">Замовлення</a></li>
            <li><a routerLink="/samples"   routerLinkActive="active" (click)="closeMenu()">Зразки</a></li>
            <li><a routerLink="/results"   routerLinkActive="active" (click)="closeMenu()">Результати</a></li>
        }
        @if (userRole() === UserRole.Admin)
        {
            <li><a routerLink="/employees"          routerLinkActive="active" (click)="closeMenu()">Працівники</a></li>
            <li><a routerLink="/employees-schedule" routerLinkActive="active" (click)="closeMenu()">Розклад працівників</a></li>
        }
    </ul>

    <div class="nav-footer">
        @if (userRole() === UserRole.Employee)
        {
            <div class="current-office">
                <label for="office-select" class="office-label">Поточне відділення:</label>
                <select name="office-select" class="office-select" (change)="onOfficeChange($event)">
                    @for (office of availableOffices; track office.id) 
                    {
                        <option [value]="office.id" [selected]="office.id === selectedOffice()?.id">
                            {{ office.city }}, Відділення №{{ office.number }}
                        </option>
                    }
                </select>
            </div>
        }

        @if (userRole())
        {
            <button class="btn-logout" (click)="logout()">
                Вийти
            </button>
        }
    </div>
</nav>