<app-navbar />

<main class="content">
    <div class="top-bar">
        <h2>Замовлення</h2>
    </div>

    <div class="toolbar">
        <div class="search-wrapper">
            <input type="text" [placeholder]="searchPlaceholder" [(ngModel)]="searchQuery"/>
            <img src="icons/search.svg" alt="" class="search-icon" />
        </div>
        <select class="slc-filter" [(ngModel)]="searchType">
            <option value="number">Пошук за номером замовлення</option>
            <option value="patient">Пошук за пацієнтом</option>
        </select>
        <button class="btn-add" (click)="showOrderForm = true">+ Нове замовлення</button>
    </div>

    <div class="table-panel">
        <div class="app-table">
            <span class="col-header">Пацієнт</span>
            <span class="col-header">Номер</span>
            <span class="col-header">Дата створення</span>
            <span class="col-header">Аналізи</span>
            <span class="col-header">Вартість</span>
            <span class="col-header">Статус</span>
            <span class="col-header"></span>
        

            @for (order of orders; track order.number)
            {
                <div class="list-row">
                    <div class="cell-stack">
                        <span class="maintext">{{ order.patientLastName }} {{ order.patientFirstName }}</span>
                        <span class="subtext">{{ order.patientPhone }}</span>
                    </div>

                    <span class="single">{{ order.number }}</span>
                    <span class="single">{{ order.createdDate | date:'mediumDate' }}</span>
                    <span class="single">{{ order.analyses }}</span>
                    <span class="single">{{ order.price }}</span>
                    <span class="single">{{ getStatusLabel(order.status) }}</span>
                    
                    <div class="col-action">
                        @if (order.status === OrderStatus.Unpaid)
                        {
                            <button class="btn-action btn-pay">Оплатити</button>
                        } 
                        @else if (order.status === OrderStatus.Pending)
                        {
                            <button class="btn-action btn-sample"
                                [routerLink]="['/samples']" 
                                [state]="{ orderNumber: order.number }">Здати зразки</button>
                        }
                        @else if (order.status === OrderStatus.InProgress)
                        {
                            <button class="btn-action btn-result" 
                                [routerLink]="['/results']" 
                                [state]="{ orderNumber: order.number }">Внести результати</button>
                        }

                        <button
                            class="btn-action btn-cancel" 
                            title="Скасувати запис"
                            [disabled]="order.status === OrderStatus.Cancelled 
                                     || order.status === OrderStatus.Completed"
                            (click)="onCancelClick(order)">
                            &#10006;
                        </button>
                    </div>
                </div>
            }
            @empty
            {
                <div class="empty-state">Замовлень не знайдено</div>
            }
        </div>
    </div>

    <app-pagination 
        [selectedPage]="selectedPage"
        [pageCount]="pageCount" 
        (changePage)="loadPage($event)" />
</main>

@if (showOrderForm)
{
    <app-order-form 
        [initialPatient]="preselectedPatient"
        (cancel)="showOrderForm = false"
        (confirm)="addOrder()"/>
}

@if (showCancelDialog)
{
    <app-confirm-dialog 
        [title]="dialogTitle"
        [description]="dialogDescription"
        (cancel)="showCancelDialog = false"
        (confirm)="cancelOrder(selectedOrder!.number)" />
}